[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Devops
ExecStart=python /home/ubuntu/Devops/manage.py runserver 0.0.0.0:5000

[Install]
WantedBy=multi-user.target